
<html>
<head>
    <title>'Activation account on ' + process.env.CLIENT_URL</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
     <p>You have successfully registered.</p>
    <p>For activate your account click link below</p>
   <a href="${link}">Activate account</a>
</body>
</html>