<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <p>You have requested to reset your password. To proceed, please click the following link:</p>
    <a href="{{link}}">Reset Password</a>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
</body>
</html>