
<html>
<head>
    <title>Your Password has been Successfully Changed</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <p>Your password has been successfully reset. You can now log in with your new password.</p>
    <p>If you have any questions or need further assistance, please don't hesitate to contact us.</p>
</body>
</html>
